* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.App{
    /* margin: 200px; */
    padding: 100px;
    background-color: rgba(194, 194, 194, 0.411);
    position: absolute;
    left: 50%;
    top: 50%;
    max-width:900px ;
    min-width:900px ;
    min-height: 80vh;
    transform: translate(-50%, -50%);
}

.wrapper-cadastro{
    margin-bottom: 50px;
}